.payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f5f9ff;
    min-height: 100vh;
    padding-bottom: 40px;
  }
  
  /* Larger centered logo like banner */
  .logo-area {
    margin-top: 20px;
    text-align: center;
  }
  
  .payment-logo-large {
    width: 380px;
    height: auto;
    max-width: 95%;
  }
  
  /* Payment box */
  .payment-box {
    background: white;
    margin-top: 25px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
    max-width: 520px;
    width: 90%;
    text-align: center;
  }
  
  .payment-box h2 {
    color: #002e7e;
    font-size: 26px;
    margin-bottom: 8px;
  }
  
  .payment-box h3 {
    color: #050505;
    margin-bottom: 10px;
    
  }
  
  .payment-box p {
    color: #333;
    margin: 6px 0;
    font-size: 18px;
  }
  
  .amharic {
    font-family: "Noto Sans Ethiopic", sans-serif;
    color: #444;
    font-size: 15px;
  }
  
  /* Input and Button */
  .payment-box input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .submit-btn {
    background: #0cad47;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
  }
  
  .submit-btn:hover {
    background: #06c210;
  }
  
  .error-text {
    color: red;
    font-weight: bold;
    margin-top: 8px;
  }
  
  .success-text {
    color: #008000;
    font-weight: bold;
    margin-top: 8px;
  }
  
  /* Payment Info */
  .payment-info {
    margin-top: 25px;
    background: #f8fbff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #cfd9ed;
  }
  
  .payment-info h3 {
    color: #002e7e;
  }
  
  .amharic-text {
    font-family: "Noto Sans Ethiopic", sans-serif;
    color: #333;
    margin-top: 5px;
  }
  
  /* Payment Methods */
  .payment-methods {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .payment-methods img {
    width: 110px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .payment-methods img:hover {
    transform: scale(1.05);
  }
  
  .payment-msg {
    margin-top: 15px;
    color: #004aad;
    font-weight: 600;
    text-align: center;
  }
  
  
  .next-btn {
    background: #0e800c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .next-btn:hover {
    background: #0b650a;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .payment-logo-large {
      width: 100%;
      max-width: 360px;
    }
  
    .payment-box {
      width: 95%;
      padding: 15px;
    }
  
    .payment-methods img {
      width: 90px;
    }
  }
  .payment-msg {
    margin-top: 15px;
    color: #004aad;
    font-weight: 600;
    text-align: center;
  }
  